<div style="margin-bottom: 1em">
  <input name="q"
         type="text"
         placeholder="Enter a street name or APN"
         ng-model="$ctrl.q" />
  <button type="button" ng-click="$ctrl.search()">
    Search
  </button>
  <button type="button"
          ng-click="$ctrl.reset()">
    Clear
  </button>
</div>

<p ng-show="$ctrl.msg">
  <em>{{ $ctrl.msg }}</em>
</p>

<p ng-show="$ctrl.show">
  Showing <strong>{{ $ctrl.tableParams.total() }}</strong> records
</p>

<table ng-table="$ctrl.tableParams"
       ng-show="$ctrl.show"
       show-filter="true">
  <tr ng-repeat="result in $data">
    <td title="'Address'" filter="{ address: 'text' }" sortable="'address'">
      {{ result.address }}
    </td>
    <td title="'APN'" filter="{ apn: 'text' }" sortable="'apn'">
      {{ result.apn }}
    </td>
    <td title="'Building Type'"
        filter="{ building_type: 'text' }"
        sortable="'building_type'">
      {{ result.building_type }}
    </td>
    <td title="'Stories'"
        filter="{ stories_total: 'text' }"
        sortable="'stories_total'">
      {{ result.stories_total }}
    </td>
    <td title="'Units'"
        filter="{ units: 'text' }"
        sortable="'units'">
      {{ result.units }}
    </td>
  </tr>
</table>

<h3>Download the Data</h3>

<ul>
  <li>
    <a href="#" ng-click="$ctrl.download('.xlsx')">.xlsx</a>
  </li>
  <li>
    <a href="#" ng-click="$ctrl.download('.csv')">.csv</a>
  </li>
  <li>
    <a href="#" ng-click="$ctrl.download('.json')">.json</a>
  </li>
</ul>
